@model List<Reservation>

<h2>User Reservations</h2>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Rezervasyon Tarihi</th>
                <th>Rezervasyon Türü</th>
                <th>Açıklama</th>
                <!-- Diğer alanlar burada -->
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.UserName</td>
                    <td>@reservation.ReservationDate.ToString()</td>
                    <td>@reservation.HairCutTypes</td>
                    <td>@reservation.ReservationMessage</td>
                    <td>
                        <form asp-action="DeleteReservation" method="post">
                            <input type="hidden" name="reservationId" value="@reservation.ReservationId" />
                            <button type="submit" class="btn btn-danger">Randevuyu Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No reservations found.</p>
}
